:host {
  --box-shadow: 0 2px 5px 1px rgb(64 60 67 / 16%);
  --width: 100px;

  .container-search {
    width: 100%;

    .container-bar-search {
      width: calc(100% - var(--width));

      mat-label {
        color: var(--color-search-bar);
        font-size: 15px;
        font-weight: 500;
        margin-top: 6px;
        display: block;

      }

      ::ng-deep {
        .mat-form-field-flex {
          border-radius: var(--width-sr) 0 0 var(--width-sr);
          padding-left: var(--width-sr);
          padding-right: var(--width-sr);
          background-color: var(--background-color-search-bar);
          box-shadow: var(--box-shadow);
        }

        .mat-form-field-ripple {
          width: calc(100% - var(--width-sr));
          margin-left: var(--width-sr);
        }

        .mat-chip-list-wrapper{
          min-height: 40px;

          .mat-chip{
            min-height: 25px;
          }
        }
      }
    }
  }

  .container-action-search {
    position: absolute;
    display: inline-block;
    box-shadow: var(--box-shadow);
    border-radius: 0 var(--width-sr) var(--width-sr) 0;

    button {
      border-radius: 0 var(--width-sr) var(--width-sr) 0;
      width: var(--width);
      background-color: var(--background-color-search-button);
      color: var(--color-search-bar);
      border-left: 1px solid var(--color-search-bar);
      transition: opacity 0.25s ease-in;

      &.opacity {
        opacity: 0.7;
      }
    }
  }
}
